<header>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content"
            aria-controls="navbar-content" aria-expanded="false" aria-label="toggle-navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <div class="logo">
                <img src="//logo.clearbit.com/reactjs.org" style="height: 30px; margin-right: 10px;">
                <a href="/">
                    <h2 style="color: white; margin-bottom: 0px;">CodeWithKishan</h2>
                </a>
                <img src="//logo.clearbit.com/reactjs.org" style="height: 30px; margin-left: 10px;">
            </div>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/weather">Weather</a>
                </li>
            </ul>
        </div>
    </nav>
</header>